.seven-segments-light-emitting-diode-display-module {
--seven-segments-light-emitting-diode-colour: #ff0000;
display: flex;
background: transparent;
flex-direction: row;
font-size: 10px;
justify-content: center;
align-items: center;
column-gap: 1em;
}

.seven-segments-light-emitting-diode-one-digit-display {
background-color: transparent;
position: relative;
width: 4.7em;
height: 8.2em;
}

.seven-segments-light-emitting-diode-segment-A {
width: 2.5em;
height: 1em;
background: var(--seven-segments-light-emitting-diode-colour);
position: absolute;
top: 0em;
left: 1.1em;
}
.seven-segments-light-emitting-diode-segment-A::before {
content: "";
position: absolute;
top: 0;
left: -1em;
width: 0;
height: 0;
border-bottom: 1em solid transparent;
border-right: 1em solid var(--seven-segments-light-emitting-diode-colour);
}
.seven-segments-light-emitting-diode-segment-A::after {
content: "";
position: absolute;
right: -1em;
width: 0;
height: 0;
border-bottom: 1em solid transparent;
border-left: 1em solid var(--seven-segments-light-emitting-diode-colour);
}

.seven-segments-light-emitting-diode-segment-B {
width: 1em;
height: 2.5em;
background: var(--seven-segments-light-emitting-diode-colour);
position: absolute;
top: 1em;
left: 3.7em;
}
.seven-segments-light-emitting-diode-segment-B::before {
content: "";
position: absolute;
top: -1em;
left: 0;
width: 0;
height: 0;
border-left: 1em solid transparent;
border-bottom: 1em solid var(--seven-segments-light-emitting-diode-colour);
}
.seven-segments-light-emitting-diode-segment-B::after {
content: "";
position: absolute;
bottom: -0.5em;
left: 0;
width: 0;
height: 0;
border-left: 1em solid transparent;
border-top: 0.5em solid var(--seven-segments-light-emitting-diode-colour);
}

.seven-segments-light-emitting-diode-segment-C {
width: 1em;
height: 2.5em;
background: var(--seven-segments-light-emitting-diode-colour);
position: absolute;
top: 4.7em;
left: 3.7em;
}
.seven-segments-light-emitting-diode-segment-C::before {
content: "";
position: absolute;
top: -0.5em;
left: 0;
width: 0;
height: 0;
border-left: 1em solid transparent;
border-bottom: 0.5em solid var(--seven-segments-light-emitting-diode-colour);
}
.seven-segments-light-emitting-diode-segment-C::after {
content: "";
position: absolute;
bottom: -1em;
left: 0;
width: 0;
height: 0;
border-left: 1em solid transparent;
border-top: 1em solid var(--seven-segments-light-emitting-diode-colour);
}

.seven-segments-light-emitting-diode-segment-D {
width: 2.5em;
height: 1em;
background: var(--seven-segments-light-emitting-diode-colour);
position: absolute;
top: 7.2em;
left: 1.1em;
}
.seven-segments-light-emitting-diode-segment-D::before {
content: "";
position: absolute;
top: 0;
left: -1em;
width: 0;
height: 0;
border-top: 1em solid transparent;
border-right: 1em solid var(--seven-segments-light-emitting-diode-colour);
}
.seven-segments-light-emitting-diode-segment-D::after {
content: "";
position: absolute;
right: -1em;
width: 0;
height: 0;
border-top: 1em solid transparent;
border-left: 1em solid var(--seven-segments-light-emitting-diode-colour);
}

.seven-segments-light-emitting-diode-segment-E {
width: 1em;
height: 2.5em;
background: var(--seven-segments-light-emitting-diode-colour);
position: absolute;
top: 4.7em;
}
.seven-segments-light-emitting-diode-segment-E::before {
content: "";
position: absolute;
top: -0.5em;
left: 0;
width: 0;
height: 0;
border-right: 1em solid transparent;
border-bottom: 0.5em solid var(--seven-segments-light-emitting-diode-colour);
}
.seven-segments-light-emitting-diode-segment-E::after {
content: "";
position: absolute;
bottom: -1em;
left: 0;
width: 0;
height: 0;
border-right: 1em solid transparent;
border-top: 1em solid var(--seven-segments-light-emitting-diode-colour);
}

.seven-segments-light-emitting-diode-segment-F {
width: 1em;
height: 2.5em;
background: var(--seven-segments-light-emitting-diode-colour);
position: absolute;
top: 1em;
}
.seven-segments-light-emitting-diode-segment-F::before {
content: "";
position: absolute;
top: -1em;
left: 0;
width: 0;
height: 0;
border-right: 1em solid transparent;
border-bottom: 1em solid var(--seven-segments-light-emitting-diode-colour);
}
.seven-segments-light-emitting-diode-segment-F::after {
content: "";
position: absolute;
bottom: -0.5em;
left: 0;
width: 0;
height: 0;
border-right: 1em solid transparent;
border-top: 0.5em solid var(--seven-segments-light-emitting-diode-colour);
}

.seven-segments-light-emitting-diode-segment-G {
width: 2.7em;
height: 1em;
background: var(--seven-segments-light-emitting-diode-colour);
position: absolute;
top: 3.6em;
left: 1em;
}
.seven-segments-light-emitting-diode-segment-G::before {
content: "";
position: absolute;
top: 0;
left: -1em;
width: 0;
height: 0;
border-top: 0.5em solid transparent;
border-bottom: 0.5em solid transparent;
border-right: 1em solid var(--seven-segments-light-emitting-diode-colour);
}
.seven-segments-light-emitting-diode-segment-G::after {
content: "";
position: absolute;
right: -1em;
width: 0;
height: 0;
border-top: 0.5em solid transparent;
border-bottom: 0.5em solid transparent;
border-left: 1em solid var(--seven-segments-light-emitting-diode-colour);
}

.seven-segments-light-emitting-diode-decimal-point-display-non-integer-number {
width: 0.8em;
height: 0.8em;
background: var(--seven-segments-light-emitting-diode-colour);
margin-top: 7.4em;
margin-left: -0.8em;
margin-right: -0.8em;
}